*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: orange;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

section{
    padding: 60px 0;
    overflow: hidden;
} 

#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/Siklab-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero .container{
    padding-top: 80px;
}

#hero h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    margin: 0 0 10px 0;
}

#hero h2{
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
 
#hero .btn_get_started{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    transition:  0.6s all;
}

#hero .btn_get_started:hover{
    background-color: grey;
    border: 2px solid black;
    
}

.about .content h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about .content h3{
    font-weight: 500;
    line-height: 29px;
    font-size: 15px;
}

.expect h2{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.carousel{
    margin-top: 2%;
}

.carousel-cell{
    width: 66%;
    height: 400px;
    margin-right: 10px;
    margin-left: 15px;
    background-size: cover;
    background-position: center center;
}

  .carousel-cell:before {
    display: block;
   content: '';
  }

  .section_bg{
    background-color: grey;
  }

  .section_title{
    padding-bottom: 30px;
  }

  .section_title p{
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
  }

  .section_title h2{
    font-weight: 700;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  .section_title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: orange;
    bottom: 0;
    left: 0;
  }

  .services .iconbox{
    text-align: center;
    padding: 40px 20px;
    background-color: white;
    height: 100%;
    overflow: hidden;
  }

